<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label for="">Nom d'utilisateur</label>
      <input type="text" formControlName="name">
    </div>
    <div class="field">
      <label for="">Adresse e-mail</label>
      <input type="text" formControlName="email">
    </div>
    <div class="field">
      <label for="">Mot de passe</label>
      <input type="password" autocomplete="on" formControlName="password">
      <span class="error-text" *ngIf="registerForm.get('password')?.errors?.['pattern']">
        Le mot de passe doit contenir au moins 8 caractères, une majuscule, une minuscule, un chiffre et un caractère spécial.
      </span>
    </div>
    <button class="submit-button bigger" type="submit">S'inscrire</button>
  </form>