<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label for="">E-mail</label>
      <input type="text" formControlName="email">
    </div>
    <div class="field">
      <label for="">Mot de passe</label>
      <div class="password-container">
        <input [type]="isPasswordVisible ? 'text' : 'password'" id="password"/>
        <i class="material-icons eye-icon" (click)="togglePasswordVisibility()">
          {{ isPasswordVisible ? 'visibility_off' : 'visibility' }}
        </i>
      </div>
    </div>
    <button class="btn-green-style" type="submit">Me connecter</button>
  </form>
