<div class="card-container">
  <img [src]="picture" alt="Article Image" class="article-image" />

  <div class="card-details">
    <h3 class="article-title">{{nameArticle}}</h3>
    <p class="article-price">{{price}} €</p>

    <div class="quantity-selector">
      <i class="material-icons icons" (click)="decreaseQuantity()">remove_circle</i>
      <input type="number" [value]="quantity" class="quantity-input" readonly />
      <i class="material-icons icons" (click)="increaseQuantity()">add_circle</i>
    </div>
  </div>
</div>