<div>
    <div class="slogan-image-div">
        <img src="../../../assets/loginCircle.png" alt="slogan image" />
    </div>

    <div class="slogan-text">
        <p>La pharmacie que vous avez choisie prépare vos soins</p>
        <p>Contactez-les pour savoir quand tout sera prêt :</p>
        <div class="contact-info">06 00 00 00 00</div>
    </div>
  
    <div class="pharmacy-info">
        <p>Antigone</p>
        <p>110 avenue du faucon</p>
    </div>
  
    <button class="return-button">Retourner à la page d'accueil</button>
</div>