<div>
    <div class="slogan-image-div">
        <img src="../../../assets/loginCircle.png" alt="slogan image" />
    </div>

    <div class="slogan-text">
        <p>La pharmacie que vous avez choisie prépare vos soins</p>
        <p>Contactez-les pour savoir quand tout sera prêt :</p>
        <div class="contact-info">{{pharmacy?.numero}}</div>
    </div>
  
    <div class="pharmacy-info">
        <p>{{pharmacy?.nomPharmacie}}</p>
        <p>{{pharmacy?.adressPharmacie}}</p>
    </div>
  
    <button (click)="redirectToOrder()" class="return-button">Retourner à la page d'accueil</button>
</div>